
body { margin-left: 100px; margin-right: 100px; margin-top: 25px; margin-bottom: 50px; }
img { border: black solid 1px; }

#home-link { color: #000000; text-decoration: none; }

#upload, .upload-message { text-align: center; font-size: 18px; font-weight: bold; }    
.upload-message { margin-bottom: 10px; margin-top: 10px; }

#display-video { float: right; }

#home-page-videos { margin-top: 20px; }

.video-summary { clear: left; }
.video-summary img {  float: left; margin-right: 25px; margin-bottom: 20px; }
.video-summary-info a { color: black; text-decoration: underline; }
.video-summary label { font-weight: bold; }




